// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	background: white;
	padding:0;
	margin:0;

}

footer{
	background-color:#55c1ef;
	width:100%;
	bottom:0;
	position:fixed;
	height: 15%;
}