// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "main.css";

body{
	background: white;
}



// --------- Footer and it's content -------- //
//
//footer ._links{
//
//	//width: 30px;
//	//border: solid black;
//	height: 95px;
//	position: absolute;
//	right: 35%;
//	left: 35%;
//	margin-top: 10px;
//
//}
//
//
//
//footer .top_links{
//	//border: solid black;
//	height:30%;
//}
//
//footer .top_links ul {
//	float: left;
//	font-size: 10px;
//	list-style-type: none;
//	padding-left:60px;
//	margin: 8px;
//	text-align: center;
//	//margin-bottom:
//
//}

footer{
  font-size: small;
  background-color:#55c1ef;
  width:100%;
  bottom:0;
  position:fixed;
  height: 150px;
  text-align: center;
}

footer ._links{
  width: 75%;
  margin: 10px auto 0;
}

footer ._social a, footer ._stores a{
  padding: 0 5px;
}
footer ._social{
  float: left;
}
footer ._stores{
  float: right;
}

footer .top_links{
  padding-top: 10px;
}
footer .top_links ul{
  padding: 0;
}
footer .top_links ul li {
  display: inline;
  color: white;
  list-style: none;
  font-weight: 600;
  padding-left:10px;

}

footer .bottom_links {
  padding-top: 15px;
}

footer .bottom_links p{
  text-align:center;
  color: white;
  font-weight: 100;

}

