<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Msosi Food</title>
	<%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<nav>
	<ul>
		<li><a href="" title=""></a></li>
	</ul>
</nav>
<section>
	<%= yield %>
</section>
	
	<footer>
		
	</footer>
</body>
</html>
